<div class="rounded-lg border border-gray-300 w-full overflow-hidden">

  <a href="{{ url }}">
    <figure class="child-object-cover h-48">
        {{ image }}
    </figure>
  </a>

  <div class="flex flex-col gap-4 p-4 h-36">

    <a href="{{ url }}">
      <h3 class="line-clamp-3">{{ title }}</h3>
    </a>
    <div class="text-sm mt-auto">{{ date }}</div>
  </div>

</div>
