{% if is_image_first %}
  {% set justify_class = 'justify-items-end' %}
  {% set order_class = 'order-last' %}
  {% set padding_classes = 'pt-8 md:pt-10' %}
{% else %}
  {% set justify_class = 'justify-items-start' %}
  {% set order_class = 'order-first' %}
{% endif %}

<div class="flex flex-col md:grid md:grid-rows-1 lg:grid-cols-2 gap-8 md:gap-10 overflow-hidden bg-gray-50 {{ justify_class }}">
  <div class="w-full min-h-[28rem] relative {{ order_class }}" style="background: url('{{ image_url }}') center center / cover no-repeat;">

      {% if items  %}
        <div class="text-xs absolute left-0 rtl:left-auto bottom-0 bg-white opacity-70 p-2">
          {{ image_items }}
        </div>
      {% endif %}
    </div>

  <div class="pb-5 px-5 pt-5 md:p-5 lg:py-10 lg:max-w-lg {{ padding_classes }}">
    {{ items }}
  </div>
</div>
