<div class="flex flex-col h-full rounded-lg shadow-lg mb-4">

  {% if url and image %}
  <a href="{{ url }}">
    <img class="object-cover w-full h-32 rounded-tl-md rounded-tr-md border-b border-gray-300" src="{{ image }}" alt="{{ image_alt }}" />
  </a>
  {% endif %}

  <div class="flex flex-col justify-between px-4 md:px-6 py-2 md:py-4 h-full">
      <div class="overflow-hidden text-base md:text-lg leading-6 md:leading-7 font-bold text-turquoise overflow-ellipsis clamp-2 hover:text-gray-800">
        {% if url %}
        <a href="{{ url }}">
        {% endif %}
          {{ title }}
        {% if url %}
        </a>
        {% endif %}
      </div>

      {% if body %}
        <div class="overflow-hidden mt-1 md:mt-2 h-20 md:h-24 text-black text-sm md:text-base">
          {{ body }}
        </div>
      {% endif %}

    <div class="flex overflow-hidden flex-row flex-wrap justify-start pt-2 h-12 text-sm border-t border-gray-300 tags-wrapper">
    {% if tags %}
      {% for tag in tags %}
        {{ tag }}
      {% endfor %}
    {% endif %}
    </div>

  </div>
</div>
