<form action="{{ search_url }}" method="get" id="main-search-form" accept-charset="UTF-8" class="js-search-form w-full z-30 bg-white h-full">
  <div class="grid grid-cols-[1fr_auto] gap-5 w-full">
    <div>
      <label class="sr-only" for="search-input">{{ 'Search'|t }}</label>
      <input class="text-ellipsis w-full text-gray-900 border-t-0 border-l-0 border-r-0 w-full" id="search-input" placeholder="{{ 'Search'| t }}" type="text" name="key" value="{{ search_term }}">
    </div>

    <button>
      <img class="h-5 w-5 cursor-pointer" src="/{{ directory }}/dist/images/search-icon.svg" alt="{{ 'Search icon'|t }}">
    </button>
  </div>
</form>
