<div class="container-wide">
  <div class="flex items-center justify-between w-full text-gray-900">
    <a href="{{ path('<front>') }}" rel="home" class="flex gap-x-2 items-center">
      <img class="h-10 lg:h-full" src="/{{ directory }}/dist/images/logo.svg" alt="{{ 'Logo'|t }}">
      <span class="font-bold">{{ site_name }}</span>
    </a>
    <div class="search-and-language-block-wrapper">
      <div class="flex items-center gap-x-8 lg:gap-x-10">
        <div class="menu-block">
          <button class="w-6 flex items-center lg:hidden js-mobile-search-button">
            <img class="cursor-pointer" src="/{{ directory }}/dist/images/search-icon.svg" alt="search-icon">
          </button>
          {{ menu }}
        </div>
        <div class="flex items-center gap-x-7 lg:gap-x-10 w-full lg:w-auto">
          <button class="block lg:hidden w-7 js-mobile-menu-button js-hide-mobile-menu-trigger">
            <img src="/{{ directory }}/dist/images/menu.svg" alt="{{ 'Menu'|t }}">
          </button>
          {{ search_block }}
          <div class="language-block-dropdown block lg:hidden">{{ language_block_dropdown }}</div>
          <div class="language-block-links hidden lg:block">{{ language_block_links }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
