<nav class="main-menu-wrapper flex-col items-stretch z-[999] fixed inset-0 w-full h-screen bg-gray-900 text-white overflow-scroll lg:overflow-hidden {{ microsite_class }}" role="navigation">
  <div class="px-4 sm:px-6 lg:px-8 xl:px-20 py-5 lg:py-6 flex flex-row justify-between items-center border-b border-gray-300">
    <div>
      <img src="/{{ directory }}/dist/images/logo.svg" alt="{{ 'Logo'|t }}">
    </div>
    <button name="close_menu" class="js-close-menu mt-2 w-6 h-6">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_11743_33122)">
          <path d="M0 24L24 0M0 0L24 24" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </g>
        <defs>
          <clipPath id="clip0_11743_33122">
            <rect width="24" height="24" fill="white"/>
          </clipPath>
        </defs>
      </svg>
      <span class="sr-only">{{ 'Close menu'|t }}</span>
    </button>
  </div>
  <div class="flex lg:flex-row px-4 sm:px-6 lg:px-8 xl:px-20 lg:overflow-hidden grow relative">
    {{ main_menu }}
  </div>
  <div class="px-4 sm:px-6 lg:px-8 xl:px-20 py-5 lg:py-6 bg-gray-700">
    {{ quick_links }}
  </div>
</nav>
