<div class="flex flex-row items-baseline">
  <h2 class="mb-4 mt-8">
    <a class="text-gray-6 text-3xl font-bold" href="#{{ unique_id }}" id="{{ unique_id }}">{{ title }}</a>
  </h2>

  {% if link %}
    <div class="ml-4">
      <a class="text-sm" href="{{ link }}" target="_blank">{{ 'See design'|t }}</a>
    </div>
  {% endif %}
</div>
